img{
border-radius: 20%;
height: 450px;
padding: 10px;
width:650px;
}

.frame{
  margin-bottom: auto;
  padding: 10px;
}

.highlighted{
  background-color: rgb(254, 47, 168);
  border-radius: 20%;
  height: 450px;
  width:650px;
}

#clicksB{
  padding: 1em;
  float: right;
}

#clicksA{
  padding: 1em;
  float:left;
}
